* {
  margin: 0;
  padding: 0;
} 

a {
    text-decoration: none;
    color: #000;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    padding-top: 8vh;
    width: calc(20% - 1px);
    height: 100vh;
    background-color: #eee;
    border-right: 1px solid #ddd;
}

nav h1 {
    font-size: 300%;
}

#scan {
    width: 25%;
}

#nummer {
    width: 100%;
}

.content {
    margin-left: 20%;
    padding: 100px;
}

.content li {
    width: 100%;
    margin-bottom: 5%;
    white-space: nowrap;
    background-color: #ddd;
    list-style: none;
    border-radius: 15px;
    padding: 10px;
}

.topp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topp h2 {
    font-size: 50px; 
}

.topp input {
    height: 30px;
    font-size: 20px;
}

.topp input[name="streng"] {
    height: 30px;
    width: 240px;
    font-size: 20px;
}

.topp input[name="leggtilbok"] {
    margin-top: 10px;
}


.bøker {
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto auto;
}


.bok {
    border: 2px solid  #000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bok h2 {
    font-size: 50px;
}

.bok p {
    margin-top: 10px;
}

.bok img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bok input[type="submit"] {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

.leggtilbok {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leggtilbok label {
    margin-top: 30px;
    font-size: 30px;
}

.leggtilbok input {
    height: 30px;
    width: 50%;
    font-size: 20px;
}

.leggtilbok input[type="submit"] {
    margin-top: 20px;
}