<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibliotek</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  
    <nav>
        <a href="{{ url_for('index') }}">
            <h1>Mitt Bibliotek</h1>
        </a>
        <form action="{{ url_for('bok', nummer=0) }}" method="get" id="scan">
            <input type="number" name="nummer" id="nummer" placeholder="Scan bok" size="50%" min="1" max="51" required>
        </form>
        <form action="{{ url_for('registrer') }}" method="get">
            <input type="submit" value="Registrer">
        </form>
        <form action="{{ url_for('brukere') }}" method="get">
            <input type="submit" value="Se brukere">
        </form>
        <form action="{{ url_for('lever_bok') }}">
            <input type="submit" value="lever bok">
        </form>
    </nav>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            let barcode = '';
            let timeout;

            document.addEventListener('keypress', function (e) {
                clearTimeout(timeout);
                if (e.key === 'Enter') {
                    if (barcode.length > 0) {
                        handleBarcode(barcode);
                        barcode = '';
                    }
                } else {
                    barcode += e.key;

                    timeout = setTimeout(() => {
                        barcode = '';
                    }, 500);
                }
            });

            function handleBarcode(scannedBarcode) {
                const barcodeInput = document.getElementById('nummer');
                barcodeInput.value = scannedBarcode;
                const form = document.getElementById('scan');
                form.submit();
            }
        });
    </script> -->

</body>
</html>