<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibliotek</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  
    <nav>
        <h1>Mitt Bibliotek</h1>
        <form action="{{ url_for('bok') }}" method="get">
            <input type="number" name="nummer" id="nummer" placeholder="Scan bok">
        </form>
    </nav>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    
</body>
</html>