{% extends 'base.html' %}

{% block content %}

<div class="tilbake">
    <a href="{{ url_for('index') }}">Tilbake</a>
</div>

<div class="bok">
    <h2>{{bok.tittel}}</h2>
    <p>Forfatter: {{bok.forfatter}}</p>
    <p>Boknummer: {{bok.nummer}}</p>
    <p>ISBN: {{bok.isbn}}</p>
    {% if bok.låntaker %}
    <p>Lånes av: {{bruker.fornavn}} {{bruker.etternavn}}</p>
    <p>Dato for lån: {{bok.dato}}</p>
    {% endif %}
    <img src="{{ url_for('static', filename='barcode/' + bok.nummer + '.png') }}" alt="barcode for bok: {{bok.nummer}}">
    <form action="{{ url_for('slettbok', nummer=bok.nummer) }}" method="post">
        <input type="submit" value="Slett">
    </form>
</div>

{% endblock %}