{% extends 'base.html' %}

{% block content %}

<div class="topp">
    <h2>Bøker</h2>
    <form action="{{ url_for('filter') }}" method="get">
        <input type="text" name="streng" id="streng" placeholder="Søk etter bok eller forfatter" value="{{streng}}" required>
        <input type="submit" value="Søk">
    </form>
    <form action="{{ url_for('leggtilbok') }}" method="get">
        <input type="submit" name="leggtilbok" value="Legg til bok">
    </form>
</div>

<br>

<ul class="bøker">
    {% for bok in bøker %}
        <li>
            <a href="{{ url_for('bok', nummer=bok.nummer) }}">
                <h3>{{bok.tittel}}</h3>
                <p>{{bok.forfatter}}</p>
                <p>{{bok.nummer}}</p>
            </a>
            <form action="{{ url_for('slettbok', nummer=bok.nummer) }}" method="post">
                <input type="submit" value="Slett">
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}