{% extends 'base.html' %}

{% block content %}

<div class="tilbake">
    <a href="{{ url_for('index') }}">Tilbake</a>
</div>

<form action="{{ url_for('registrer') }}" method="post">
    <label for="fornavn">Fornavn:</label>
    <input type="text" name="fornavn" id="fornavn" placeholder="Fornavn" required>
    <label for="etternavn">Etternavn:</label>
    <input type="text" name="etternavn" id="etternavn" placeholder="Etternavn" required>
    <label for="nummer">Nummer:</label>
    <input type="number" name="nummer" id="nummer" min="1000" max="1020" required>
    <input type="submit" value="Register">
</form>

{% endblock %}